<div class="containerCSS">
    <app-header></app-header>
    <app-page-content></app-page-content>
    <app-footer></app-footer>
</div>


<!-- <div class="page-title">
    <div class="page-title__category">
        02 kategoria
    </div>

    <div class="page-title__text">
        zagolobok text
    </div>
</div>
dfjvdk


<div class="page-title">
    <div class="page-title__category">
        03 kategoria
    </div>

    <div class="page-title__text">
        zagolobok text
    </div>
</div> -->