.appbarCSS {
    background-color: rgba(207, 207, 207, 0.18);
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    height: 60px;
    display: block;
    //-----------------------------
    left: 50%;
    transform: translate(-50%, 0);
    //-----------------------------
    border-radius: 8px;
    position: absolute;
    top: 30px;
    width: 1200px;
    display: flex;
    align-items: center;
}

.logoCSS {
    margin-left: 32px;
    margin-right: 67px;
}

.textButtonCSS {
    font-family: 'Onest';
    color: white;
    margin-right: 32px;
    white-space: nowrap; //!
    cursor: pointer;
    //---------------------- //!
    // &:hover {
    //     color: #41B7FF;
    // }
    //----------------------
}

.buttonCSS{
    width: 175px;
    height: 40px;
    font-family: 'Onest';
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    //----------------------- //!
    display: flex;
    justify-content: center;
    align-items: center;
    //-----------------------
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
    &:hover {
        background-color: rgb(210, 210, 210);
    }
}
