<!-- рамка appbar-a -->
<div class="appbarCSS">
    <!-- контент appbar-a -->
    <!-- логотип -->
    <img class="logoCSS" src="assets/svg/logo.svg">
    <!-- кнопки с правой стороны -->
    @for (item of menuItems; track item) {
        <a class="textButtonCSS">{{item.title}}
            @if (item.hasIcon) {
            <img src="assets/svg/arrow_icon.svg">
        }</a>
    }
    <!-- вопрос про единую стилизацию кнопок -->
    <!-- кнопка с левой стороны -->
    <button class="buttonCSS appbarButtonSettingsCSS">Заказать воду</button>
    <!-- + пара иконок -->
    <img class="iconButtonCSS" src="assets/svg/bag_icon.svg">
    <img class="iconButtonCSS" src="assets/svg/user_icon.svg">
</div>
